In [1]:
# Standaard imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Import ingebouwde dataset
from gapminder import gapminder

In [2]:
# Haal uit gapminder alle Eurpeanse landen
europa = gapminder[gapminder['continent'] == 'Europe']
europa

             country continent  year  lifeExp       pop     gdpPercap
12           Albania    Europe  1952   55.230   1282697   1601.056136
13           Albania    Europe  1957   59.280   1476505   1942.284244
14           Albania    Europe  1962   64.820   1728137   2312.888958
15           Albania    Europe  1967   66.220   1984060   2760.196931
16           Albania    Europe  1972   67.690   2263554   3313.422188
...              ...       ...   ...      ...       ...           ...
1603  United Kingdom    Europe  1987   75.007  56981620  21664.787670
1604  United Kingdom    Europe  1992   76.420  57866349  22705.092540
1605  United Kingdom    Europe  1997   77.218  58808266  26074.531360
1606  United Kingdom    Europe  2002   78.471  59912431  29478.999190
1607  United Kingdom    Europe  2007   79.425  60776238  33203.261280

[360 rows x 6 columns]

In [3]:
# Uit het geheel van gapminder, groeperen op basis van continent en bekijk de populatie
gapminder.groupby('continent')['pop'].sum()

continent
Africa       6187585961
Americas     7351438499
Asia        30507333901
Europe       6181115304
Oceania       212992136
Name: pop, dtype: int64

In [4]:
# Groeperen eerst per continent en dan per jaar, dan bereken de bevolking 
gapminder.groupby(['continent','year'])['pop'].sum().reset_index().head(10)

  continent  year        pop
0    Africa  1952  237640501
1    Africa  1957  264837738
2    Africa  1962  296516865
3    Africa  1967  335289489
4    Africa  1972  379879541
5    Africa  1977  433061021
6    Africa  1982  499348587
7    Africa  1987  574834110
8    Africa  1992  659081517
9    Africa  1997  743832984

In [5]:
import ipywidgets as widgets
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [6]:
# Maak een widgit die alle numerieke waardes op aanvraag laat zien
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
x_dict = {a : a for a in gapminder.select_dtypes(include=numerics).columns}

def barchart(x):
    return sns.histplot(x = x, data = gapminder)

widgets.interact(barchart, x = x_dict)

interactive(children=(Dropdown(description='x', options={'year': 'year', 'lifeExp': 'lifeExp', 'pop': 'pop', '…

In [7]:
# Maak een samenvatting van aantal landen per continent
gapminder.groupby('continent').apply(lambda g: "Dit continent heeft " + str(g['country'].nunique()) + " landen")

continent
Africa      Dit continent heeft 52 landen
Americas    Dit continent heeft 25 landen
Asia        Dit continent heeft 33 landen
Europe      Dit continent heeft 30 landen
Oceania      Dit continent heeft 2 landen
dtype: object

In [8]:
# Wat doet dit stuk code?
gapminder.loc[:,~gapminder.columns.str.islower()]

      lifeExp   gdpPercap
0      28.801  779.445314
1      30.332  820.853030
2      31.997  853.100710
3      34.020  836.197138
4      36.088  739.981106
...       ...         ...
1699   62.351  706.157306
1700   60.377  693.420786
1701   46.809  792.449960
1702   39.989  672.038623
1703   43.487  469.709298

[1704 rows x 2 columns]