## FIFA spelers score
### 1. 

**Importeer en bekijke de datasets 'players_19.csv' en 'players_20.csv'**

In [1]:
import numpy as np
import pandas as pd
pd.set_option('max_columns', None)

In [2]:
 from importlib.metadata import version
 version('numpy')

'1.21.5'

In [2]:
players19 = pd.read_csv("players_19.csv")
players20 = pd.read_csv("players_20.csv")

In [3]:
players19.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,preferred_foot,international_reputation,weak_foot,skill_moves,work_rate,body_type,real_face,release_clause_eur,player_tags,team_position,team_jersey_number,loaned_from,joined,contract_valid_until,nation_position,nation_jersey_number,pace,shooting,passing,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning,player_traits,attacking_crossing,attacking_finishing,attacking_heading_accuracy,attacking_short_passing,attacking_volleys,skill_dribbling,skill_curve,skill_fk_accuracy,skill_long_passing,skill_ball_control,movement_acceleration,movement_sprint_speed,movement_agility,movement_reactions,movement_balance,power_shot_power,power_jumping,power_stamina,power_strength,power_long_shots,mentality_aggression,mentality_interceptions,mentality_positioning,mentality_vision,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,ram,lm,lcm,cm,rcm,rm,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,33,1985-02-05,187,83,Portugal,Juventus,94,94,77000000,405000,"ST, LW",Right,5,4,5,High/Low,C. Ronaldo,Yes,127100000.0,"#Speedster, #Dribbler, #Distance Shooter, #Acr...",LW,7.0,NaN,2018-07-10,2022.0,LS,7.0,90.0,93.0,81.0,89.0,35.0,79.0,NaN,NaN,NaN,NaN,NaN,NaN,"Power Free-Kick, Diver, Flair, Long Shot Taker...",84,94,89,81,87,88,81,76,77,94,89,91,87,96,70,95,95,88,79,93,63,29,95,82,85,95,28,31,23,7,11,15,14,11,91+3,91+3,91+3,89+3,90+3,90+3,90+3,89+3,88+3,88+3,88+3,88+3,81+3,81+3,81+3,88+3,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
1,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,31,1987-06-24,170,72,Argentina,FC Barcelona,94,94,110500000,565000,"CF, RW, ST",Left,5,4,4,Medium/Medium,Messi,Yes,226500000.0,"#Dribbler, #Distance Shooter, #FK Specialist, ...",RW,10.0,NaN,2004-07-01,2021.0,CF,10.0,88.0,91.0,88.0,96.0,32.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,"Finesse Shot, Long Shot Taker (CPU AI Only), S...",77,95,70,90,86,97,93,94,87,96,91,86,91,95,95,85,68,72,59,94,48,22,94,94,75,96,33,28,26,6,11,15,14,8,88+2,88+2,88+2,92+2,93+2,93+2,93+2,92+2,93+2,93+2,93+2,90+2,84+2,84+2,84+2,90+2,63+2,61+2,61+2,61+2,63+2,58+2,47+2,47+2,47+2,58+2
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,26,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,93,118500000,290000,"LW, CAM",Right,5,5,5,High/Medium,Neymar,Yes,228100000.0,"#Speedster, #Dribbler, #FK Specialist, #Acroba...",CAM,10.0,NaN,2017-08-03,2022.0,LW,10.0,92.0,84.0,83.0,95.0,32.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,"Diver, Selfish, Flair, Speed Dribbler (CPU AI ...",79,87,62,84,84,96,88,87,78,95,94,90,96,94,84,80,61,81,49,82,56,36,89,87,81,94,27,24,33,9,9,15,15,11,84+3,84+3,84+3,89+3,89+3,89+3,89+3,89+3,89+3,89+3,89+3,88+3,81+3,81+3,81+3,88+3,65+3,60+3,60+3,60+3,65+3,60+3,47+3,47+3,47+3,60+3
3,193080,https://sofifa.com/player/193080/david-de-gea-...,De Gea,David De Gea Quintana,27,1990-11-07,193,76,Spain,Manchester United,91,93,72000000,260000,GK,Right,4,3,1,Medium/Medium,Lean,Yes,138600000.0,NaN,GK,1.0,NaN,2011-07-01,2019.0,GK,1.0,NaN,NaN,NaN,NaN,NaN,NaN,90.0,85.0,87.0,94.0,58.0,88.0,"GK Long Throw, Saves with Feet",17,13,21,50,13,18,21,19,51,42,57,58,60,90,43,31,67,43,64,12,38,30,12,68,40,68,15,21,13,90,85,87,88,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,27,1991-06-28,181,70,Belgium,Manchester City,91,92,102000000,355000,"CAM, CM",Right,4,5,4,High/High,Normal,Yes,196400000.0,"#Dribbler, #Playmaker , #Engine, #Distance Sh...",RCM,17.0,NaN,2015-08-30,2023.0,RCM,7.0,77.0,86.0,92.0,87.0,60.0,78.0,NaN,NaN,NaN,NaN,NaN,NaN,"Leadership, Early Crosser, Long Passer (CPU AI...",93,83,55,92,82,86,85,83,91,91,78,76,79,91,77,91,63,90,75,91,76,60,87,94,79,88,67,58,51,15,13,5,10,13,82+3,82+3,82+3,87+3,87+3,87+3,87+3,87+3,88+3,88+3,88+3,88+3,87+3,87+3,87+3,88+3,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3

### 2. 
**Welk team heeft de hoogste gemiddelde ranking (kolom 'overall') van spelers in de dataset
players_19?**
Reminder: https://datalab01.ict.hva.nl/w/115h1kbnT5B4eijPd6Gc95

In [4]:
players19.groupby("club")["overall"].mean().sort_values(ascending=False)

club
Juventus               82.160000
FC Barcelona           80.285714
Argentina              80.000000
Napoli                 79.840000
Inter                  79.708333
                         ...
Sligo Rovers           56.095238
Wales                  56.000000
Limerick FC            54.523810
Bray Wanderers         53.590909
Guizhou Hengfeng FC    50.000000
Name: overall, Length: 679, dtype: float64

### 3. 
**Selecteer van beide datasets alleen de kolommen 'sofifa_id', 'club' en 'overall'. Geef de kolommen
'overall' en 'club' in de dataset players_20 een nieuwe naam. Voeg de datasets players_19 en
players_20 samen middels een left_join. Doe hetzelfde met een inner_join, wat is het
verschil tussen de datasets?**

https://datalab01.ict.hva.nl/w/fD7W7PsfkpiKovcTidMCac

In [5]:
# Rename columns
players19_select = players19.loc[:,['sofifa_id','overall','club']]
players20_select = (players20.
                    loc[:,['sofifa_id','overall','club']].
                    rename(columns={"overall": "overall_20", "club": "club_20"}))
players20_select.head(1)

   sofifa_id  overall_20       club_20
0     158023          94  FC Barcelona

In [6]:
players_left = pd.merge(players19_select, players20_select, how = 'left', on = 'sofifa_id')
print(players_left.shape) #Left join heeft 17547 rijen (evenveel als players19)
players_left.head(2)

(17770, 5)

   sofifa_id  overall          club  overall_20       club_20
0      20801       94      Juventus        93.0      Juventus
1     158023       94  FC Barcelona        94.0  FC Barcelona

In [7]:
players_inner = pd.merge(players19_select, players20_select, how = 'inner', on = 'sofifa_id')
print(players_inner.shape) #Inner join heeft 13043 rijen

players_inner.head(2)

(13144, 5)

   sofifa_id  overall          club  overall_20       club_20
0      20801       94      Juventus          93      Juventus
1     158023       94  FC Barcelona          94  FC Barcelona

**Hoeveel unieke voetballers zitten er in beide datasets?
Hoeveel voetballers komen in beide datasets voor?**

In [8]:
players_outer = pd.merge(players19_select, players20_select, how = 'outer', on = 'sofifa_id')
print(f"Aantal unieke spelers totaal: {players_outer.sofifa_id.nunique()}")

Aantal unieke spelers totaal: 22904

### 4. 
**Gebruik de uitkomt van de left join en bepaal per speler de maximale overall ranking (dat is dus de overall ranking uit 2019 of uit 2020) en sla deze op in een nieuwe variabele best_overall**

*tip: gebruik numpy's maximum() function of pandas.DataFrame.max met axis = 1*

In [9]:
players_left = players_left.assign(best_overall = lambda x: np.maximum(x.overall,x.overall_20))
players_left.head(10)

,sofifa_id,overall,club,overall_20,club_20,best_overall
0,20801,94,Juventus,93.0,Juventus,94.0
1,158023,94,FC Barcelona,94.0,FC Barcelona,94.0
2,190871,92,Paris Saint-Germain,92.0,Paris Saint-Germain,92.0
3,193080,91,Manchester United,89.0,Manchester United,91.0
4,192985,91,Manchester City,91.0,Manchester City,91.0
5,155862,91,Real Madrid,89.0,Real Madrid,91.0
6,176580,91,FC Barcelona,89.0,FC Barcelona,91.0
7,177003,91,Real Madrid,90.0,Real Madrid,91.0
8,183277,91,Chelsea,91.0,Real Madrid,91.0
9,200389,90,Atlético Madrid,91.0,Atlético Madrid,91.0

In [10]:
players_left['best_overall2'] = players_left[["overall", "overall_20"]].max(axis = 1)
players_left.head(10)

,sofifa_id,overall,club,overall_20,club_20,best_overall,best_overall2
0,20801,94,Juventus,93.0,Juventus,94.0,94.0
1,158023,94,FC Barcelona,94.0,FC Barcelona,94.0,94.0
2,190871,92,Paris Saint-Germain,92.0,Paris Saint-Germain,92.0,92.0
3,193080,91,Manchester United,89.0,Manchester United,91.0,91.0
4,192985,91,Manchester City,91.0,Manchester City,91.0,91.0
5,155862,91,Real Madrid,89.0,Real Madrid,91.0,91.0
6,176580,91,FC Barcelona,89.0,FC Barcelona,91.0,91.0
7,177003,91,Real Madrid,90.0,Real Madrid,91.0,91.0
8,183277,91,Chelsea,91.0,Real Madrid,91.0,91.0
9,200389,90,Atlético Madrid,91.0,Atlético Madrid,91.0,91.0

### 5. 
**Welke spelers spelen niet voor dezelfde club in 2020? Tag deze spelers in een nieuwe
variabele “Transfer”. Hebben deze spelers gemiddeld gezien een hogere ranking in 2020 dan
in 2019?**

We gebruiken het resultaat van de inner join want dan hebben we direct alle spelers die zowel in 2019 als in 2020 een club hadden.

In [12]:
# met pandas.DataFrame.assign icm np.where()
players_inner = players_inner.assign(Transfer2 = lambda x: np.where(x.club != x.club_20, 1, 0))


###Filter deze spelers
players_inner.loc[players_inner.Transfer2 == 1]

,sofifa_id,overall,club,overall_20,club_20,Transfer2
8,183277,91,Chelsea,91,Real Madrid,1
12,182493,90,Atlético Madrid,88,Inter,1
19,194765,89,Atlético Madrid,89,FC Barcelona,1
24,178603,89,FC Bayern München,87,Borussia Dortmund,1
29,189242,88,FC Barcelona,86,FC Bayern München,1
...,...,...,...,...,...,...
13062,243213,50,Al Nassr,54,Abha Club,1
13072,244959,50,Crewe Alexandra,51,Morecambe,1
13084,225867,50,Barnsley,61,Bristol Rovers,1
13119,225468,49,Hamilton Academical FC,53,Crawley Town,1
13132,243649,48,Fleetwood Town,58,Macclesfield Town,1

### 6. 
**Selecteer middels een join de spelers die niet in beide datasets voorkomen. Welke join
moeten we hiervoor gebruiken?**

In [ ]:
# We maken hier gebruik van de indicator kolom '_merge' in de outer join die de 
# waardes 'left_only', 'right_only''of 'both' kan aannemen.
# Vervolgens filteren we op deze kolom om de spelers te selecteren die niet in beide datasets voorkomen:

players_outer = pd.merge(players19_select, players20_select, how = 'outer', on = 'sofifa_id', indicator=True)
players_outer.head()
players_not_both = players_outer.loc[players_outer["_merge"] != "both",:]
players_not_both

## Spotify top 200 data
### 7. 
**Laad de dataset SpotifyNL in. Zet de dataset opvolgorde van nummer, artiest, datum en
totaal aantal streams.**

In [13]:
spot = pd.read_csv('SpotifyNL.csv')
print(spot.shape)

(74200, 6)

In [ ]:
spot = spot.sort_values(['Track.Name','Artist','Date','StreamsTotal'])
spot.head(100)

In [14]:
pd.isna(spot).sum()
# Met behulp van de url kunnen we misschien nog wat track namen en artiesten invullen
spot = spot.dropna()

### 8. 
**StreamsTotal bevat de cumulatieve som van alle views tot en met de betreffende dag. Bereken nu het aantal streams op alleen de aangegeven dag per nummer en artiest.**

*Tip: gebruik diff(). Hoe gaat je om met NA waardes? tip: fillna()*

In [15]:
spot['StreamsDay'] = (spot.
          sort_values(['Track.Name','Artist','Date']).
          groupby(['Track.Name','Artist']).
          StreamsTotal.diff().
          fillna(spot.StreamsTotal))

# De eerste dag dat een nummer in de lijst staat geeft diff() een NA. Daar vullen we dus de waarde uit SteamsTotal in
# want op de eerste dag is die gelijk aan StreamsDay

spot.head(10)

,Track.Name,Artist,URL,Date,Region,StreamsTotal,StreamsDay
18,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-08,nl,188379,188379.0
19,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-09,nl,393484,205105.0
20,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-10,nl,625730,232246.0
21,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-11,nl,799032,173302.0
22,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-12,nl,930603,131571.0
23,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-13,nl,1105252,174649.0
24,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-14,nl,1273057,167805.0
25,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-15,nl,1439678,166621.0
26,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-16,nl,1609861,170183.0
27,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-17,nl,1780517,170656.0

In [17]:
###Uitwerking zonder piping
spot = spot.sort_values(['Track.Name','Artist','Date'])
spot["Streamsday"] = spot.groupby(['Track.Name','Artist'])["StreamsTotal"].diff()
spot["Streamsday"] = spot["Streamsday"].fillna(spot["StreamsTotal"])    

spot.head()

,Track.Name,Artist,URL,Date,Region,StreamsTotal,StreamsDay,Streamsday
18,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-08,nl,188379,188379.0,188379.0
19,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-09,nl,393484,205105.0,205105.0
20,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-10,nl,625730,232246.0,232246.0
21,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-11,nl,799032,173302.0,173302.0
22,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-12,nl,930603,131571.0,131571.0

### 9. 
**Bereken de positie in de top 200 o.b.v. aantal streams op die dag
Tip: zet de dataset op volgorde van dag en aantal streams.**

In [19]:
spot['position'] = (spot.
                    sort_values(['Date','StreamsDay'], ascending = [True,False]).
                    groupby('Date')
                    .StreamsDay.rank(ascending = False))
spot.head()

,Track.Name,Artist,URL,Date,Region,StreamsTotal,StreamsDay,Streamsday,position
18,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-08,nl,188379,188379.0,188379.0,103.0
19,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-09,nl,393484,205105.0,205105.0,101.0
20,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-10,nl,625730,232246.0,232246.0,98.0
21,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-11,nl,799032,173302.0,173302.0,104.0
22,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-12,nl,930603,131571.0,131571.0,97.0

In [13]:
import pandas as pd

print(pd.__version__)

1.3.4

In [ ]:
# Top 10 op '2017-11-08'

(spot.
 sort_values(['Date','StreamsDay'], ascending = [True,False]).
 loc[spot['Date'] == '2017-11-08',['Track.Name','Artist','StreamsDay','position']].
 head(10))

### 10. 
**Bepaal de stijging of daling van elk nummer t.o.v. de dag ervoor. Is het nummer nieuw in de
top 200, bereken dan het verschil t.o.v. 201**

In [20]:
# Let op! Een stijging in de ranking is eigenlijk een daling van het getal in kolom 'position'. 
# Vandaar een minnetje voor de hele code. 

spot['stijging'] = -(spot.
          sort_values(['Track.Name','Artist','Date']).
          groupby(['Track.Name','Artist']).
          position.diff().
          fillna(spot.position - 201))

# Nu vullen we de NA's t.g.v. de diff() met 201 - de positie van die dag. 

spot.head()

,Track.Name,Artist,URL,Date,Region,StreamsTotal,StreamsDay,Streamsday,position,stijging
18,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-08,nl,188379,188379.0,188379.0,103.0,98.0
19,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-09,nl,393484,205105.0,205105.0,101.0,2.0
20,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-10,nl,625730,232246.0,232246.0,98.0,3.0
21,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-11,nl,799032,173302.0,173302.0,104.0,-6.0
22,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-12,nl,930603,131571.0,131571.0,97.0,7.0

### 11. 
**Maak groepen van 10 op basis van de positie in de top 200**

*Tip: maak gebruik van de cut() functie*

In [23]:
spot['group'] = pd.cut(spot.position, 20)
spot.head()

,Track.Name,Artist,URL,Date,Region,StreamsTotal,StreamsDay,Streamsday,position,stijging,group
18,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-08,nl,188379,188379.0,188379.0,103.0,98.0,"(100.5, 110.45]"
19,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-09,nl,393484,205105.0,205105.0,101.0,2.0,"(100.5, 110.45]"
20,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-10,nl,625730,232246.0,232246.0,98.0,3.0,"(90.55, 100.5]"
21,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-11,nl,799032,173302.0,173302.0,104.0,-6.0,"(100.5, 110.45]"
22,#JM,Broederliefde,https://open.spotify.com/track/3NjkLv0yVjQvNp5...,2017-11-12,nl,930603,131571.0,131571.0,97.0,7.0,"(90.55, 100.5]"

### 12. 
**Hoeveel streams per dag heb nummers gemiddeld in de top 10? En in de categorie 40-50?**

In [ ]:
spot.groupby('group').StreamsDay.mean()

In [ ]:
DataFrame["Variabele"].bfill()